* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: NotoSans,Arial,"Arial Unicode MS",sans-serif;
    background-color: #f4f7fb;
}

body, html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centralizada {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 350px;
    height: 645px;
}