@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins&family=Roboto&display=swap');

*{ 
    margin: 0;
    background-color: #f0f0f0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 150px;
}

title{
    font-weight: 900;
}

.subtitulo{
    font-weight: 400;
    font-size: 25px;
}

h2{
    font-weight: 200;
    font-size: 15px;
    text-align: center;
    padding-bottom: 5px;
}

a{  
    text-decoration: none;
    color: #000000;
}

ul li a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    padding: 5px;
    border: 1px solid #ccc;
}

.container-cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo .titulo{
    padding: 10px 0px 1px 0px;
    border-bottom: solid #E96D03;
}

.container-mapas{
    padding: 80px 0px 0px 30px;
}

.cards-mapas{
    position: relative;
    padding: 15px 0px 40px 40px;
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    overflow-x: auto;
    overflow-y: hidden;
}

.card {
    width: 150px;
    height: 170px;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
    padding: 0px 5px 20px 5px;
}
  
.card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}
  
.card:hover {
    transform: scale(1.04) rotate(1deg);
}
  
@keyframes move-up6 {
    to {
      transform: translateY(-10px);
    }
}
  
@keyframes move-down1 {
    to {
      transform: translateY(10px);
    }
}

.b1{
    margin: 10px 10px 0px 10px;
    width: 70%;
    border-radius: 20px;
}

.location{
    width: 7px;
}

.teste{
    margin-left: 10px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.fakebar{
    opacity: 30%;
    width: 60%;
}

.img-fundo{
    width: 150px;
}

footer{
    background-color: #000;
    text-align: center;
    padding: 20px;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

p{
    padding: 10px;
    background-color: #000;
    color: #ccc;
}